{% extends 'base.html' %}

{% block content %}
{% load i18n %}

<link rel="stylesheet" href="../static/areas.css" type="text/css">

<div id="map"></div>
<div class="container">
	<div class="map-lay">
	  <a href="{% url 'home' %}" type="button" class="btn btn-primary"><h6>⬅︎回首頁</h6></a>
	</div>
	<div class="map-overlay rounded-lg">
	  <fieldset>
	    <input
	    id="feature-filter"
	    type="text"
	    placeholder="以名稱搜尋釣點"
			class="form-control"
	    />
	  </fieldset>
	  <div id="feature-listing" class="listing"></div>
	</div>
	<pre id="features" class="rounded-lg"></pre>
</div>

<script>

	{% include 'mapapi.html'%}

  //make fishing area imformation by iterate data from django SQLite database
  var places = {
    'type': 'FeatureCollection',
    'features': [{% if areas %}{% for area in areas %}
        {
        'type': 'Feature',
        'geometry': {
          'type': 'Point',
          'coordinates': [{{ area.lon }}, {{ area.lat }}]
        },
          'properties': {
            'location': '{{ area.location }}',
            'name': '{{ area.location }}',
            'district': '{{ area.city }} {{ area.district }}',
            'fish': [{% for branch in area.city.branches_city.all %}{% for fish in branch.fingerling_branch.all %}'{{ fish.name }}',{% endfor %}{% endfor %}],
            'context': "{% include 'areas_fish_context.html'%}"
          }
        },
        {% endfor %}{% endif %}
    ]
  };

  var areas = [];
  var popup = new mapboxgl.Popup({
    closeButton: false
  });

  var filterEl = document.getElementById('feature-filter');
  var listingEl = document.getElementById('feature-listing');

  //filter by window and display maker in map
  function renderListings(features) {
    var empty = document.createElement('p');
    listingEl.innerHTML = '';
    if (features.length) {
      features.forEach(function(feature) {
        var prop = feature.properties;
        var item = document.createElement('a');
        item.target = '_blank';
        item.textContent = prop.name + ' (' + prop.district + ')';
        item.addEventListener('click', function() {
          map.flyTo({ center: feature.geometry.coordinates, zoom: 15 });
          popup
          .setLngLat(feature.geometry.coordinates)
          .setHTML(feature.properties.name + ' (' + feature.properties.district + ')')
          .addTo(map);
          document.getElementById('features').innerHTML = feature.properties.context;
          document.getElementById('features').style.display = 'block';
        });
        listingEl.appendChild(item);
      });
      filterEl.parentNode.style.display = 'block';
    } else if (features.length === 0 && filterEl.value !== '') {
      empty.textContent = 'No results found';
      listingEl.appendChild(empty);
    } else {
      empty.textContent = 'Drag the map to populate results';
      listingEl.appendChild(empty);
      filterEl.parentNode.style.display = 'none';
      map.setFilter('location', null, ['location', 'district']);
    }
  }

  function normalize(string) {
    return string.trim().toLowerCase();
  }

  function getUniqueFeatures(array, comparatorProperty) {
    var existingFeatureKeys = {};
    var uniqueFeatures = array.filter(function(el) {
      if (existingFeatureKeys[el.properties[comparatorProperty]]) {
        return false;
      } else {
        existingFeatureKeys[el.properties[comparatorProperty]] = true;
        return true;
      }
    });

    return uniqueFeatures;
  }

      map.on('load', function() {
        {% load static %}
        map.loadImage('{% static "media/icon/food.png" %}', function(error, image) {
           if (error) throw error;
           if (!map.hasImage('border-image')) {

            map.addImage('fishing-area', image);
            //setup areas maker in map
            map.addSource('areas', {
              'type': 'geojson',
              'data': places
            });
            map.addLayer({
              'id': 'location',
              'source': 'areas',
              'type': 'symbol',
              'layout': {
                'icon-image': 'fishing-area',
                'icon-size': 0.1,
                'icon-padding': 0,
                'icon-allow-overlap': true

              }
            });
        //setup something to listening user's action
        map.on('moveend', function() {
          var features = map.queryRenderedFeatures({ layers: ['location'] });

          if (features) {
            var uniqueFeatures = getUniqueFeatures(features, 'name');
            renderListings(uniqueFeatures);
            filterEl.value = '';
            areas = uniqueFeatures;
          }
        });

        map.on('click', 'location', function(e) {
          map.getCanvas().style.cursor = 'pointer';
          var feature = e.features[0];
          map.flyTo({ center: feature.geometry.coordinates, zoom: 15 });
          popup
          .setLngLat(feature.geometry.coordinates)
          .setHTML(feature.properties.name + ' (' + feature.properties.district + ')')
          .addTo(map);
          document.getElementById('features').innerHTML = feature.properties.context;
          document.getElementById('features').style.display = 'block';
        });

        filterEl.addEventListener('keyup', function(e) {
          var value = normalize(e.target.value);
          var filtered = areas.filter(function(feature) {
            var name = normalize(feature.properties.name);
            var code = normalize(feature.properties.district);
            return name.indexOf(value) > -1 || code.indexOf(value) > -1;
          });
          renderListings(filtered);
          if (filtered.length) {
            map.setFilter('location', null, [
            'match',
            ['location', 'district'],
            filtered.map(function(feature) {
              return feature.properties.district;
            }),
            true,
            false
            ]);
          }
        });
        renderListings([]);
      }
    });
});

</script>




{% endblock %}
