{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<style>

  .filter-group input[type='checkbox']:first-child + label {
    border-radius: 3px 3px 0 0;
    overflow: auto;
  }

  .filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
  }

  .filter-group input[type='checkbox'] {
    display: none;
  }

  .filter-group input[type='checkbox'] + label {
    background-color: #3386c0;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }

  .filter-group input[type='checkbox'] + label {
    background-color: #3386c0;
    text-transform: capitalize;
  }

  .filter-group input[type='checkbox'] + label:hover,
  .filter-group input[type='checkbox']:checked + label {
    background-color: #4ea0da;
  }

  .filter-group input[type='checkbox']:checked + label:before {
    content: '✔';
    margin-right: 5px;
  }

  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
  }

  .map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #fca107, #7f3121);
  }

  .map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
  }

  #map canvas {
    cursor: crosshair;
  }

  @media screen and (orientation: portrait){

    .map-lay {
      position: absolute;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      overflow: hidden;
      max-height: 100%;
      background-color: rgba(255, 255, 255, 0);
      top: 1%;
      left: 2%;
    }

    .map-overlay {
      position: absolute;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      right: 2%;
      top: 1%;
    }

    .map-overlay h2 {
      display: block;
      margin: 0 0 10px;
      line-height: 24px;
    }

    .filter-group {
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 600;
      position: absolute;
      right: 2%;
      z-index: 1;
      border-radius: 3px;
      color: #fff;
      overflow: auto;
    }

    #features {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      display: none;
      overflow: auto;
      background: rgba(255, 255, 255, 0.8);
      top: 70%;
    }
  }

  @media screen and (orientation: landscape) {

    .map-lay {
      position: absolute;
      width: 25%;
      top: 2%;
      left: 1%;
      font: 12px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      background-color: rgba(255,255,255,0);
      max-height: 100%;
      overflow: hidden;
    }

    .map-overlay {
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      position: absolute;
      left: 1%;
    }

    .map-overlay h2 {
      display: block;
      margin: 0 0 10px;
    }

    .filter-group {
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 600;
      position: absolute;
      left: 1%;
      z-index: 1;
      border-radius: 3px;
      color: #fff;
      overflow: auto;
    }

    #features {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      display: none;
      background: rgba(255, 255, 255, 0.8);
    }
  }

  @media screen and (orientation: portrait) and (max-width: 568px){

    .map-lay {
      width: 40%;
    }

    .map-overlay {
      width: 50%;
    }

    .map-overlay h2 {
      font-size: medium;
    }

    .map-overlay h4 {
      font-size: small;
    }

    .filter-group {
      top: 18%;
      width: 75px;
      max-height: 50%;
    }
  }


  @media screen and (orientation: landscape) and (max-width: 568px){
    .map-lay {
      font-size: small;
    }

    .map-overlay {
      width: 25%;
      top: 16%;
    }

    .map-overlay h2 {
      line-height: 12px;
      font-size: small;
    }

    .map-overlay h4 {
      font-size: x-small;
    }

    .filter-group {
      top: 42%;
      width: 15%;
      max-height: 50%;
      font-size: x-small;
    }

    .card-title {
      font-size: medium;
    }
    .card-subtitle {
      font-size: small;
    }
    .card-header {
      font-size: small;
    }

    #features {
      width: 35%;
    }
  }

  @media (min-width: 569px) and (max-width: 1023px) and (orientation: portrait){

    .map-lay {
      width: 40%;
    }

    .map-overlay {
      width: 35%;
    }

    .map-overlay h2 {
      font-size: medium;
    }

    .map-overlay h4 {
      font-size: small;
    }

    .filter-group {
      top: 12%;
      width: 75px;
      max-height: 50%;
      font-size: small;
    }
  }

  @media (min-width: 569px) and (max-width: 1023px) and (orientation: landscape){

    .map-overlay {
      width: 25%;
      top: 14%;
    }

    .map-overlay h2 {
      line-height: 24px;
      font-size: medium;
    }

    .map-overlay h4 {
      font-size: small;
    }

    .filter-group {
      top: 40%;
      width: 15%;
      max-height: 50%;
      font-size: small;
    }

    #features {
      width: 30%;
    }
  }

  @media screen and (min-width: 1024px) and (orientation: portrait){

    .map-lay {
      width: 15%;
    }

    .map-overlay {
      width: 20%;
    }

    .map-overlay h2 {
      font-size: x-large;
    }

    .map-overlay h4 {
      font-size: large;
    }

    .filter-group {
      top: 9%;
      width: 10%;
      max-height: 60%;
      font-size: large;
    }
  }

  @media screen and (min-width: 1024px) and (orientation: landscape){

    .map-overlay {
      width: 20%;
      top: 8%;
    }

    .map-overlay h2 {
      line-height: 24px;
      font-size: x-large;
    }

    .map-overlay h4 {
      font-size: large;
    }

    .filter-group {
      top: 22%;
      width: 10%;
      max-height: 70%;
      font-size: large;
    }

    #features {
      width: 25%;
    }
  }




</style>

<div id="map"></div>
<div class="map-lay">
  <a href="{% url 'home' %}"><button type="button" class="btn btn-primary"><h6>⬅︎回首頁</h6></button></a>
</div>
<div class="map-overlay top rounded-lg">
  <div class="map-overlay-inner">
    <h2 class='card-title text-center text-primary'>找尋魚的蹤跡</h2>
    <h4 class='card-subtitle text-secondary text-center'><label id="month"></label></h4>
    <input id="slider" type="range" min="0" max="11" step="1" value="0" />
  </div>
</div>
<nav id="filter-group" class="filter-group"></nav>
<pre id="features" class="rounded-lg"></pre>

<script>
  var filterGroup = document.getElementById('filter-group');

	{% include 'mapapi.html'%}

  //make fishing area imformation by iterate data from django SQLite database
  var places = {
    'type': 'FeatureCollection',
    'features': [{% if areas %}{% for area in areas %}
        {
        'type': 'Feature',
        'geometry': {
          'type': 'Point',
          'coordinates': [{{ area.lon }}, {{ area.lat }}]
        },
        'properties': {
          'location': '{{ area.location }}',
          'district': '{{ area.city }} {{ area.district }}',
          'branch': [{% for branch in area.city.branches_city.all %}'{{ branch.name }}',{% endfor %}],
          'fish': [{% for branch in area.city.branches_city.all %}{% for fish in branch.fingerling_branch.all %}'{{ fish.name }}',{% endfor %}{% endfor %}],
          'context': "{% include 'fishing_status_context.html'%}"
          }
        },{% endfor %}{% endif %}
    ]
  };

  //make fish imforation by iterate data from django SQLite database
  var fish = {
    'type': 'FeatureCollection',
    'features': [{% if fingerling %}{% for fish in fingerling %}
      {
        'properties': {
          'name': '{{ fish.name }}',
          'nickname': '{{ fish.nickname }}',
          'branch': '{{ fish.branch }}',
          'month': [{% for month in fish.branch.month.all %}'{{ month }}',{% endfor %}],
          }
      },{% endfor %}{% endif %}
    ]
  }

  var branch = {
    'type': 'FeatureCollection',
    'features': [{% if branches %}{% for branch in branches %}
      {
        'properties': {
          'name': '{{ branch.name }}',
          'month': [{% for month in branch.month.all %}'{{ month }}',{% endfor %}],
          'fish': [{% for fish in branch.fingerling_branch.all %}'{{ fish }}',{% endfor %}],
        }
      },{% endfor %}{% endif %}
    ]
  }
  var branchess = [];
  var fishess = [];
  var months = [
  '一月',
  '二月',
  '三月',
  '四月',
  '五月',
  '六月',
  '七月',
  '八月',
  '九月',
  '十月',
  '十一月',
  '十二月'
  ];

  //filter by fingerling and display maker in map
  function renderListings(features) {
    filterGroup.innerHTML = '';
    if (features.length ) {
      features.forEach(function(feature) {
        var symbol = feature.properties['name'];
        var layerID = symbol;
        var input = document.createElement('input');
        input.type = 'checkbox';
        input.id = layerID;
        input.checked = false;
        filterGroup.appendChild(input);

        var label = document.createElement('label');
        label.setAttribute('for', layerID);
        label.textContent = symbol;
        filterGroup.appendChild(label);

        input.addEventListener('change', function(e){
          var filterGroup = document.getElementById('filter-group');
          var getInput = filterGroup.getElementsByTagName('input');
          if(input.checked == true){
          for(var i = 0; i < getInput.length; i++){
            getInput[i].checked = false;
          }
          input.checked = true;
        }

          places.features.forEach(function(feature) {
            var place = feature.properties;
            map.setLayoutProperty(
              place['location'],
              'visibility',
              'none'
              );
          });

          places.features.forEach(function(feature) {
            var place = feature.properties;
            if (place.branch.includes(layerID)){
              map.setLayoutProperty(
                place['location'],
                'visibility',
                e.target.checked ? 'visible' : 'none'
                );
              }
          });

        });

      });
      filterGroup.parentNode.style.display = 'block';
    }
  }

  //filter by month and display in fingerling list
  function filterBy(month, features) {
    places.features.forEach(function(feature) {
      var place = feature.properties;
      map.setLayoutProperty(
        place['location'],
        'visibility',
        'none'
        );
    });

    if (features.length) {
      branchess = [];
      branch.features.forEach(function(feature) {
        if (feature.properties['month'].includes(months[month])) {
          branchess.push(feature);
        }

      });
    }
    document.getElementById('month').textContent = months[month];
  }

  function normalize(string) {
    return string.trim().toLowerCase();
  }


    map.on('load', function() {
        //setup fingerling imformation in map
        map.addSource('branches', {
           'type': 'geojson',
           'data': fish
         });
       branch.features.forEach(function(feature) {
         var symbol = feature.properties['name'];
         var layerID = symbol;
           map.addLayer({
             'id': layerID,
             'source': 'branches',
             'type': 'symbol',
           });
          });
          filterBy(0, branch.features);
          renderListings(branchess)

       {% load static %}
       map.loadImage('{% static "media/icon/food.png" %}', function(error, image) {
          if (error) throw error;
          if (!map.hasImage('border-image')) {
           map.addImage('fishing-area', image);
           //setup areas maker in map
            map.addSource('areas', {
              'type': 'geojson',
              'data': places
            });

           places.features.forEach(function(feature) {
             var symbol = feature.properties['location'];
             var layerID = symbol;
             if (!map.getLayer(layerID)) {
               map.addLayer({
                 'id': layerID,
                 'type': 'symbol',
                 'source': 'areas',
                 'layout': {
                   'icon-image': 'fishing-area',
                   'icon-size': 0.1,
                   'icon-padding': 0,
                   'icon-allow-overlap': true,
                   'visibility': 'none'
                 },
               });
             }
             //setup something to listening user's action
             map.on('click', layerID, function(e) {
               map.getCanvas().style.cursor = 'pointer';
               var feature = e.features[0];
               map.flyTo({ center: feature.geometry.coordinates, zoom: 15 });

               new mapboxgl.Popup({closeButton: false})
               .setLngLat(feature.geometry.coordinates)
               .setHTML(feature.properties.location)
               .addTo(map);

               document.getElementById('features').innerHTML = feature.properties.context;
               document.getElementById('features').style.display = 'block';
             });
          });


      document.getElementById('slider').addEventListener('input', function(e) {
        var month = parseInt(e.target.value, 10);
        var value = normalize(e.target.value);
        filterBy(month, fish.features);
        renderListings(branchess);
     });
     filterBy(0, branch.features);
    }
  });
});



</script>




{% endblock %}
