{% extends 'base.html' %}

{% block content %}
{% load i18n %}
<link rel="stylesheet" href="../static/fingerling.css" text/css">
<div id="map"></div>
<div class="container">
  <div class="map-lay">
    <a href="{% url 'home' %}" class="btn btn-primary"><h6>⬅︎回首頁</h6></a>
  </div>
  <div class="map-overlay rounded-lg">
    <div class="map-overlay-inner">
      <h2 class='card-title text-center text-primary'>找尋魚的蹤跡</h2>
      <h4 class='card-subtitle text-secondary text-center'><label id="month"></label></h4>
      <input id="slider" type="range" min="0" max="11" step="1" value="0" />
    </div>
  </div>
  <nav id="filter-group" class="filter-group"></nav>
  <pre id="features" class="rounded-lg"></pre>
</div>
<script>
  var filterGroup = document.getElementById('filter-group');

	{% include 'mapapi.html'%}

  //make fishing area imformation by iterate data from django SQLite database
  var places = {
    'type': 'FeatureCollection',
    'features': [{% if areas %}{% for area in areas %}
        {
        'type': 'Feature',
        'geometry': {
          'type': 'Point',
          'coordinates': [{{ area.lon }}, {{ area.lat }}]
        },
        'properties': {
          'location': '{{ area.location }}',
          'district': '{{ area.city }} {{ area.district }}',
          'branch': [{% for branch in area.city.branches_city.all %}'{{ branch.name }}',{% endfor %}],
          'fish': [{% for branch in area.city.branches_city.all %}{% for fish in branch.fingerling_branch.all %}'{{ fish.name }}',{% endfor %}{% endfor %}],
          'context': "{% include 'fishing_status_context.html'%}"
          }
        },{% endfor %}{% endif %}
    ]
  };

  //make fish imforation by iterate data from django SQLite database
  var fish = {
    'type': 'FeatureCollection',
    'features': [{% if fingerling %}{% for fish in fingerling %}
      {
        'properties': {
          'name': '{{ fish.name }}',
          'nickname': '{{ fish.nickname }}',
          'branch': '{{ fish.branch }}',
          'month': [{% for month in fish.branch.month.all %}'{{ month }}',{% endfor %}],
          }
      },{% endfor %}{% endif %}
    ]
  }

  var branch = {
    'type': 'FeatureCollection',
    'features': [{% if branches %}{% for branch in branches %}
      {
        'properties': {
          'name': '{{ branch.name }}',
          'month': [{% for month in branch.month.all %}'{{ month }}',{% endfor %}],
          'fish': [{% for fish in branch.fingerling_branch.all %}'{{ fish }}',{% endfor %}],
        }
      },{% endfor %}{% endif %}
    ]
  }
  var branchess = [];
  var fishess = [];
  var months = [
  '一月',
  '二月',
  '三月',
  '四月',
  '五月',
  '六月',
  '七月',
  '八月',
  '九月',
  '十月',
  '十一月',
  '十二月'
  ];

  //filter by fingerling and display maker in map
  function renderListings(features) {
    filterGroup.innerHTML = '';
    if (features.length ) {
      features.forEach(function(feature) {
        var symbol = feature.properties['name'];
        var layerID = symbol;
        var input = document.createElement('input');
        input.type = 'checkbox';
        input.id = layerID;
        input.checked = false;
        filterGroup.appendChild(input);

        var label = document.createElement('label');
        label.setAttribute('for', layerID);
        label.textContent = symbol;
        filterGroup.appendChild(label);

        input.addEventListener('change', function(e){
          var filterGroup = document.getElementById('filter-group');
          var getInput = filterGroup.getElementsByTagName('input');
          if(input.checked == true){
          for(var i = 0; i < getInput.length; i++){
            getInput[i].checked = false;
          }
          input.checked = true;
        }

          places.features.forEach(function(feature) {
            var place = feature.properties;
            map.setLayoutProperty(
              place['location'],
              'visibility',
              'none'
              );
          });

          places.features.forEach(function(feature) {
            var place = feature.properties;
            if (place.branch.includes(layerID)){
              map.setLayoutProperty(
                place['location'],
                'visibility',
                e.target.checked ? 'visible' : 'none'
                );
              }
          });

        });

      });
      //filterGroup.parentNode.style.display = 'block';
    }
  }

  //filter by month and display in fingerling list
  function filterBy(month, features) {
    places.features.forEach(function(feature) {
      var place = feature.properties;
      map.setLayoutProperty(
        place['location'],
        'visibility',
        'none'
        );
    });

    if (features.length) {
      branchess = [];
      branch.features.forEach(function(feature) {
        if (feature.properties['month'].includes(months[month])) {
          branchess.push(feature);
        }

      });
    }
    document.getElementById('month').textContent = months[month];
  }

  function normalize(string) {
    return string.trim().toLowerCase();
  }


    map.on('load', function() {
        //setup fingerling imformation in map
        map.addSource('branches', {
           'type': 'geojson',
           'data': fish
         });
       branch.features.forEach(function(feature) {
         var symbol = feature.properties['name'];
         var layerID = symbol;
           map.addLayer({
             'id': layerID,
             'source': 'branches',
             'type': 'symbol',
           });
          });
          filterBy(0, branch.features);
          renderListings(branchess)

       {% load static %}
       map.loadImage('{% static "media/icon/food.png" %}', function(error, image) {
          if (error) throw error;
          if (!map.hasImage('border-image')) {
           map.addImage('fishing-area', image);
           //setup areas maker in map
            map.addSource('areas', {
              'type': 'geojson',
              'data': places
            });

           places.features.forEach(function(feature) {
             var symbol = feature.properties['location'];
             var layerID = symbol;
             if (!map.getLayer(layerID)) {
               map.addLayer({
                 'id': layerID,
                 'type': 'symbol',
                 'source': 'areas',
                 'layout': {
                   'icon-image': 'fishing-area',
                   'icon-size': 0.1,
                   'icon-padding': 0,
                   'icon-allow-overlap': true,
                   'visibility': 'none'
                 },
               });
             }
             //setup something to listening user's action
             map.on('click', layerID, function(e) {
               map.getCanvas().style.cursor = 'pointer';
               var feature = e.features[0];
               map.flyTo({ center: feature.geometry.coordinates, zoom: 15 });

               new mapboxgl.Popup({closeButton: false})
               .setLngLat(feature.geometry.coordinates)
               .setHTML(feature.properties.location)
               .addTo(map);

               document.getElementById('features').innerHTML = feature.properties.context;
               document.getElementById('features').style.display = 'block';
             });
          });


      document.getElementById('slider').addEventListener('input', function(e) {
        var month = parseInt(e.target.value, 10);
        var value = normalize(e.target.value);
        filterBy(month, fish.features);
        renderListings(branchess);
     });
     filterBy(0, branch.features);
    }
  });
});



</script>




{% endblock %}
