{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<link rel="stylesheet" href="../static/fishingStatusReport.css" type="text/css">
<div class="home">
  <a href="{% url 'home' %}" class="btn btn-primary"><h6>⬅︎回首頁</h6></a>
</div>
<!-- <div class="vertical-center"> -->
  <div class="container">
    <form method="POST" enctype="multipart/form-data" action="" class="rounded-lg">
        <h2 class="text-center">回報魚訊</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" onclick="disp_confirm()" class="btn btn-primary btn-block rounded-lg" value="確認"/>
    </form>
  </div>
<!-- </div> -->

<script>
  $("p").addClass("form-group item ");
/*  $("p").addClass("form-group col-sm-4 col-12");*/
  $("input, select").addClass("form-control rounded-lg");
  $(function () {
    $("#id_pub_date").datetimepicker( {
       format:'Y-m-d H:i',
    });
  });
</script>

{% endblock %}
