{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<style>
  body {
    overflow: hidden;
    background: url(static/media/indexImgTransparency.jpg) center center fixed no-repeat;
    background-size: cover;
  }

  img {
    width: auto;
    height: 100%;
    opacity: 0.3;
  }
  
  .vertical-center {
    display: flex;
    min-height: 100vh;
    align-items: center;
    min-width: 100%;
    overflow: auto;
  }

  .container {
    width: 70%;
    overflow: auto;
  }
  
  .row {
    margin: 20px;
  }
 
  @media screen and (orientation: portrait) {
    div.font {
      font-size: 7vw;
    }
    div.btn-font {
      font-size: 6vw;
    }
    #title-text {
      margin-bottom: 10vw;
    }
  }

  @media screen and (orientation: landscape) {
    div.font {
      font-size: 8vh;
    }
    div.btn-font {
      font-size: 7vh;
    }
    #title-text {
      margin-bottom: 10vh;
    }
  }

</style>

<div class="vertical-center">
  <div class="container">
      <div class="row" id="title-text">
        <button class="text-center btn btn-primary btn-lg btn-block rounded-pill" disabled><div class="font">魚 for map 選</div></button>
      </div>
      <div class="row">
        <a href="{% url 'areas' %}" class="btn btn-outline-primary btn-lg btn-block rounded-pill" role="button"><div class="btn-font">找釣點？</div></a>
      </div>
      <div class="row">
        <a href="{% url 'fingerling' %}" class="btn btn-outline-primary btn-lg btn-block rounded-pill" role="button"><div class="btn-font">找魚？</div></a>
      </div>
      <div class="row">
        <a href="{% url 'report' %}" class="btn btn-outline-primary btn-lg btn-block rounded-pill" role="button"><div class="btn-font">回報魚訊</div></a>
      </div>
  </div>
</div>

{% endblock %}
