{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<style>

  .map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
  }


</style>

<div id="map"></div>
<div class="map-overlay">
<h1>魚 for map 選</h1>
<a href="{% url 'areas' %}"><button type="button" class="btn btn-primary"><h4>找釣點？</h4></button></a>
<a href="{% url 'fingerling' %}"><button type="button" class="btn btn-primary"><h4>找魚？</h4></button></a>

</div>

<script>

  //make fishing area by iterate data from django SQLite database
  var places = {
    'type': 'FeatureCollection',
    'features': [
      {% if areas %}
        {% for area in areas %}
        {
        'type': 'Feature',
        'geometry': {
          'type': 'Point',
          'coordinates': [{{ area.lon }}, {{ area.lat }}]
        },
          'properties': {'location': '{{ area.location }}'}
        },
        {% endfor %}
      {% endif %}
    ]
  };

  {% include 'mapapi.html'%}

  //setup areas maker in map
  map.on('load', function() {
    {% load static %}
    map.loadImage('{% static "media/icon/food.png" %}', function(error, image) {
       if (error) throw error;
       if (!map.hasImage('border-image')) {
         map.addImage('fishing-area', image);

         map.addSource('places', {
           'type': 'geojson',
           'data': places
         });

        places.features.forEach(function(feature) {
          var symbol = feature.properties['location'];
          var layerID = symbol;
          if (!map.getLayer(layerID)) {
            map.addLayer({
              'id': layerID,
              'type': 'symbol',
              'source': 'places',
              'layout': {
                'icon-image': 'fishing-area',
                'icon-size': 0.1,
                'icon-padding': 0,
                'icon-allow-overlap': true
              },
            });
          }
      });
    }
  })
});
//disable map's function
map.scrollZoom.disable();
map.boxZoom.disable();
map.dragRotate.disable();
map.dragPan.disable();
map.keyboard.disable();
map.doubleClickZoom.disable();
map.touchZoomRotate.disable();

</script>
{% endblock %}
