{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<style>
  .container {
    position: relative;
  }

  .center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }

  img {
    width: 100%;
    height: auto;
    opacity: 0.3;
  }

  div.font {
    font-size: 500%;
  }

  div.btn-font {
    font-size: 300%;
  }

</style>
  <img src="static/media/indexImg.JPG" alt="Cinque Terre">
  <div class="center">
    <div class="font">魚 for map 選</div>
    <a href="{% url 'areas' %}"><button type="button" class="btn btn-primary btn-lg"><div class="btn-font">找釣點？</div></button></a>
    <a href="{% url 'fingerling' %}"><button type="button" class="btn btn-primary btn-lg"><div class="btn-font">找魚？</div></button></a>
  </div>

{% endblock %}
